.App {
  display: flex;
  justify-content: center;
  align-content: center;
  min-width: 100%;
  height: inherit;
}

.circularProgress {
  width: 400px;
  position: absolute;
  top: 10%;
}

.timeInput {
  opacity: 0;
  position: absolute;
  top: 35%;
  margin: 0 auto;
  /* margin-top: -10px;
  margin-bottom: 25px; */
  direction: rtl;
  width: 150px;
  height: 50px;
  font-size: 35px;

  /* remove borders */
  border: 0;
  outline: 0;
  border-bottom: 12px solid cyan;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  align-content: center;
  position: relative;
  margin-top: 75vh;
}
