@import url("https://fonts.googleapis.com/css?family=Baloo+Thambi");
@import url("https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou");
@import url("https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe");

@font-face {
  font-family: "Muyao-Softbrush Regular";
  font-style: normal;
  src: local("Muyao-Softbrush Regular");
}

.App {
  display: flex;
}

.mathCampText {
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: center;
  width: 500px;

  /* vertical align */
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}

.mathCampText ul {
  list-style-type: none;
  text-align: center;
}

.mathCampTitle {
  font-family: "Muyao-Softbrush Regular", "沐瑶软笔手写体", "ZCOOL KuaiLe",
    "ZCOOL QingKe HuangYou", cursive;
}

.mathCampYear {
  padding-right: 90px;
  font-family: "Baloo Thambi", cursive;
}

.mathCampText ul li {
  /* font-family: "Baloo Thambi", cursive; */
  font-size: 100px;
  line-height: 1.2em;
  /* animation: glow 3s ease-in-out infinite; */
}

/* .mathCampTitle li {
  animation: glow 3s ease-in-out infinite;
} */

.mathCampTitle li:nth-child(2) {
  animation-delay: 1s;
}

.mathCampTitle li:nth-child(3) {
  animation-delay: 2s;
}

.timer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-content: center;
  position: absolute;
  /* left: 20%; */
  right: 20%;
}

.circularProgress {
  width: 390px;
  position: absolute;
  top: 7%;
}

.timeInput {
  opacity: 0;
  position: absolute;
  top: 35%;
  margin: 0 auto;
  /* margin-top: -10px;
  margin-bottom: 25px; */
  direction: rtl;
  width: 150px;
  height: 50px;
  font-size: 35px;

  /* remove borders */
  border: 0;
  outline: 0;
  /* border-bottom: 12px solid cyan; */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.buttonGroup {
  display: flex;
  box-sizing: border-box;
  padding: 25px 25px 25px 25px;
  background-color: white;
  flex-direction: column;
  align-content: center;
  position: relative;
  margin-top: 77vh;
}

@keyframes glow {
  0%,
  100% {
    color: #fff;
    text-shadow: 0 0 10px #0652dd, 0 0 50px #0652dd, 0 0 100px #0652dd;
  }

  10%,
  90% {
    color: #111;
    text-shadow: none;
  }
}
